* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 376px) {
  body {
    background: #fafafa;
  }

  .cards {
    height: 100vh;
    padding-bottom: 130px;
  }

  .reliable {
    font-weight: 275;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #4d4f62;
  }

  .powered {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #4d4f62;
  }

  .our {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.104167px;
    color: #4d4f62;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  header {
    max-width: 540px;
    margin: 80px auto;
  }

  .cards h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4d4f62;
    margin-top: 32px;
    margin-left: 32px;
  }

  .cards p {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.0902778px;
    color: #4d4f62;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 6px;
    margin-left: 32px;
    max-width: 286px;
  }

  .cards img {
    width: 64px;
    height: 64px;
    margin-left: 254px;
    margin-top: 40px;
  }

  .supervisor,
  .team,
  .karma,
  .calculator {
    position: absolute;
    width: 350px;
    height: 250px;
    border-radius: 7px;
    box-shadow: 0px 4px 5px 1px rgb(204, 214, 219);
  }

  .supervisor {
    left: 165px;
    top: 452px;
    border-style: solid;
    border-color: #44d3d2 transparent transparent transparent;
  }

  .team {
    left: 545px;
    top: 312px;
    border-style: solid;
    border-color: #ff637b transparent transparent transparent;
  }

  .karma {
    left: 545px;
    top: 592px;
    border-style: solid;
    border-color: #fcae4a transparent transparent transparent;
  }

  .calculator {
    left: 925px;
    top: 452px;
    border-style: solid;
    border-color: #549ef2 transparent transparent transparent;
  }
}

@media (max-width: 375px) {
  header {
    max-width: 297px;
    height: 161px;
    margin: 85px auto;
  }

  .reliable {
    font-weight: 275;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.166667px;
    color: #4d4f62;
  }

  .powered {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.166667px;
    color: #4d4f62;
    margin-top: 1px;
  }

  .our {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.104167px;
    color: #4d4f62;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 13px;
  }

  .supervisor,
  .team,
  .karma,
  .calculator {
    display: block;
    width: 311px;
    height: 222px;
    margin: 0 auto;
    border-radius: 7px;
    border-style: solid;
    -webkit-box-shadow: 2px 24px 35px -5px rgba(71, 79, 84, 0.2);
    -moz-box-shadow: 2px 24px 35px -5px rgba(71, 79, 84, 0.2);
    box-shadow: 2px 24px 35px -5px rgba(71, 79, 84, 0.2);
  }

  .cards h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4d4f62;
    margin-top: 27px;
    margin-left: 28px;
  }

  .cards p {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.0902778px;
    color: #4d4f62;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 1px;
    margin-left: 29px;
    max-width: 286px;
  }

  .cards img {
    width: 57px;
    height: 57px;
    margin-left: 226px;
    margin-top: 33px;
  }

  .supervisor {
    border-color: #44d3d2 transparent transparent transparent;
    margin-bottom: 25px;
  }

  .team {
    border-color: #ff637b transparent transparent transparent;
    margin-bottom: 23px;
  }

  .karma {
    border-color: #fcae4a transparent transparent transparent;
    margin-bottom: 24px;
  }

  .calculator {
    border-color: #549ef2 transparent transparent transparent;
    margin-bottom: 78px;
  }
}
